<div class="container-fluid  d-flex justify-content-center pt-5 mt-4 mb-4 ">
  <form action="#" class="pb-1 ps-3 mt-5 bg-light w-50" style="box-shadow: 4px 4px 12px 4px gray">
    <div class="input-group mb-3 row">
      <div class="col col-sm-12 col-xl-12">
        <h1 class="text-center pt-3 mb-3 ">Nikolay Vasilev</h1>
      </div>
    </div>
    <div class="input-group mb-3 row">
      <div class="col col-sm-12 col-xl-12">
        <label for="email" class="form-label"><b>Email address</b></label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email address" value="didedu-tech@gmail.com" disabled>
        <div class="invalid-feedback">
          This field is required
        </div>
      </div>
    </div>
    <div class="input-group mb-5 row">
      <div class="col col-sm-12 col-xl-12">
        <label for="role" class="form-label"><b>Role</b></label>
        <input type="text" class="form-control" id="role" aria-describedby="role" placeholder="Role">
        <div class="invalid-feedback">
          This field is required
        </div>
      </div>
    </div>
    <div class="input-group mb-5 row">
      <div class="col col-sm-12 col-xl-12">
        <label for="publicKey" class="form-label"><b>Public key</b></label>
        <input type="text" class="form-control" id="publicKey" aria-describedby="publicKey" placeholder="Public key">
        <div class="invalid-feedback">
          This field is required
        </div>
      </div>
    </div>
  </form>
</div>
