<div  class="container-fluid  d-flex justify-content-center pt-5 mt-4 mb-4">
  <form action="#" class="pb-1 ps-3 mt-5 bg-light" style="box-shadow: 4px 4px 12px 4px gray">
    <div class="input-group mb-3 row">
      <div class="col col-sm-12 col-xl-12">
        <h1 class="text-center pt-3 mb-3 w-100">Faculty Of Computer Science <b class="containerText1">FRI</b></h1>
      </div>
    </div>
    <div class="input-group mb-3 row ">
      <div class="col col-8 col-xl-8">
        <label for="address" class="form-label"><b>Address</b></label>
        <input type="text" class="form-control" id="address" placeholder="Address" value="Večna pot 113, 1000 Ljubljana">
        <div class="invalid-feedback">
          This field is required
        </div>
      </div>
      <div class="col col-4 col-xl-4">
        <label for="abbreviation" class="form-label"><b>Abbreviation</b></label>
        <input type="text" class="form-control" id="abbreviation" placeholder="Abbreviation" value="FRI">
        <div class="invalid-feedback">
          This field is required
        </div>
      </div>
    </div>
    <div class="input-group mb-4 row">
      <div class="col col-sm-12 col-xl-12">
        <label for="programs" class="form-label"><b>Programs</b></label>
        <ul id="programs" class="scrollListSmall list-group list-group-flush pe-0" style="max-height: 100px !important;">
          <li class="list-group-item pe-0" style="border-bottom: 1px solid lightgray !important;">
            <div class="row me-3 pb-1">
              <div class="col col-xs-12 col-xl-8 pt-2">
                <h6 class="m-0">University Program <span class="containerText1">(3y B, 2y M, 3y D)</span></h6>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="input-group mb-3 row">
      <div class="col col-sm-12 col-xl-12">
        <label for="controllers" class="form-label"><b>Controllers</b></label>
        <ul id="controllers" class="scrollListSmall list-group list-group-flush pe-0">
          <li class="list-group-item pe-0">
            <div class="row me-3 pt-2 pb-2">
              <div class="col col-xs-12 col-xl-8 pt-2">
                <h6 class="m-0">Franc Novak</h6>
              </div>
              <div class="col col-xl-2 ms-auto d-flex justify-content-end">
                <a href="#">
                  <button type="button" class="btn btn-sm btn-danger me-3">
                    Delete Controller
                  </button>
                </a>
              </div>
              <div class="col col-xl-2 ms-auto d-flex justify-content-end">
                <a href="editFacultyController.html">
                  <button type="button" class="btn btn-sm btn-outline-danger">
                    Edit Controller
                  </button>
                </a>
              </div>
            </div>
          </li>
          <li class="list-group-item pe-0">
            <div class="row me-3 pt-2 pb-2">
              <div class="col col-xs-12 col-xl-8 pt-2">
                <h6 class="m-0">Ana Kastelič</h6>
              </div>
              <div class="col col-xl-2 ms-auto d-flex justify-content-end">
                <a href="#">
                  <button type="button" class="btn btn-sm btn-danger me-3">
                    Delete Controller
                  </button>
                </a>
              </div>
              <div class="col col-xl-2 ms-auto d-flex justify-content-end">
                <a href="editFacultyController.html">
                  <button type="button" class="btn btn-sm btn-outline-danger">
                    Edit Controller
                  </button>
                </a>
              </div>
            </div>
          </li>
          <li class="list-group-item pe-0">
            <div class="row me-3 pt-2 pb-2">
              <div class="col col-xs-12 col-xl-8 pt-2">
                <h6 class="m-0">Barbara Horvat</h6>
              </div>
              <div class="col col-xl-2 ms-auto d-flex justify-content-end">
                <a href="#">
                  <button type="button" class="btn btn-sm btn-danger me-3">
                    Delete Controller
                  </button>
                </a>
              </div>
              <div class="col col-xl-2 ms-auto d-flex justify-content-end">
                <a href="editFacultyController.html">
                  <button type="button" class="btn btn-sm btn-outline-danger">
                    Edit Controller
                  </button>
                </a>
              </div>
            </div>
          </li>
          <li class="list-group-item pe-0">
            <div class="row me-3 pt-2 pb-2">
              <div class="col col-xs-12 col-xl-8 pt-2">
                <h6 class="m-0">Branko Kovač</h6>
              </div>
              <div class="col col-xl-2 ms-auto d-flex justify-content-end">
                <a href="#">
                  <button type="button" class="btn btn-sm btn-danger me-3">
                    Delete Controller
                  </button>
                </a>
              </div>
              <div class="col col-xl-2 ms-auto d-flex justify-content-end">
                <a href="editFacultyController.html">
                  <button type="button" class="btn btn-sm btn-outline-danger">
                    Edit Controller
                  </button>
                </a>
              </div>
            </div>
          </li>
          <li class="list-group-item pe-0">
            <div class="row me-3 pt-2 pb-2">
              <div class="col col-xl-8 pt-2">
                <h6 class="m-0">Tina Kralj</h6>
              </div>
              <div class="col col-xl-2 ms-auto d-flex justify-content-end">
                <a href="#">
                  <button type="button" class="btn btn-sm btn-danger me-3">
                    Delete Controller
                  </button>
                </a>
              </div>
              <div class="col col-xl-2 ms-auto d-flex justify-content-end">
                <a href="editFacultyController.html">
                  <button type="button" class="btn btn-sm btn-outline-danger">
                    Edit Controller
                  </button>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>
