
<div class="modal pt-5 mt-5" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 *ngIf="type === 'enroll'" class="modal-title">Register DID for the course {{course && course!!.title ? "'" + course!!.title + "'" : ''}}</h4>
        <h4 *ngIf="type === 'obligationsGroup'" class="modal-title">Add new obligations group to the course {{course && course!!.title ? "'" + course!!.title + "'" : ''}}</h4>
        <h4 *ngIf="type === 'obligation'" class="modal-title">Add new obligation to the obligations group {{currGroup && currGroup!!.title ? "'" + currGroup!!.title + "'" : ''}}</h4>
        <h4 *ngIf="type === 'examsGroup'" class="modal-title">Add new exams group to the course {{course && course!!.title ? "'" + course!!.title + "'" : ''}}</h4>
        <h4 *ngIf="type === 'exam'" class="modal-title">Add new exam to the exams group {{currGroup && currGroup!!.title ? "'" + currGroup!!.title + "'" : ''}}</h4>
        <h4 *ngIf="type === 'obligationCredential'" class="modal-title">Issue obligation for the obligations group {{currGroup && currGroup!!.title ? "'" + currGroup!!.title + "'" : ''}}</h4>
        <h4 *ngIf="type === 'presentation'" class="modal-title">Issue presentation for the course {{course && course!!.title ? "'" + course!!.title + "'" : ''}}</h4>

      </div>
      <div class="modal-body">
        <form (ngSubmit)="submitEnrollmentCredential()" *ngIf="type === 'enroll'" class="pb-1 ps-3" autocomplete="off">
          <div *ngIf="formError" class="form-group">
            <div class="alert alert-danger p-2 mt-4" role="alert">
              <i class="fas fa-exclamation-triangle pe-2"></i>{{ formError }}
            </div>
          </div>
          <div class="input-group mb-4 row">
            <div class="col col-sm-12 col-xl-12">
              <label for="did" class="form-label"><b>DID</b></label>
              <input type="text" class="form-control" id="did" name="did" aria-describedby="did" placeholder="did:example:123456789abcdefghi..." [(ngModel)]="did">
            </div>
          </div>
          <div class="row pt-3 pb-4">
            <div class="d-flex justify-content-start col col-xl-6">
              <button type="button" class="btn mainBtn pt-2 me-3" style="border-radius: 25px" (click)="close()" [disabled]="disabled"><h4>Cancel</h4></button>
            </div>
            <div class="d-flex justify-content-end col col-xl-6">
              <button type="submit" class="btn mainBtnOutline pt-2 me-3" style="border-radius: 25px" [disabled]="disabled"><h4>Register</h4></button>
            </div>
          </div>
        </form>

        <form (ngSubmit)="submitObligationsGroup('obligation')" *ngIf="type === 'obligationsGroup'" class="pb-1 ps-3" autocomplete="off">
          <div *ngIf="formError" class="form-group">
            <div class="alert alert-danger p-2 mt-4" role="alert">
              <i class="fas fa-exclamation-triangle pe-2"></i>{{ formError }}
            </div>
          </div>
          <div class="input-group mb-4 row">
            <div class="col col-sm-12 col-xl-12">
              <label for="title" class="form-label"><b>Obligations group title</b></label>
              <input type="text" class="form-control" id="title" name="title" aria-describedby="title" placeholder="Title" [(ngModel)]="obligationsGroup">
            </div>
          </div>
          <div class="row pt-3 pb-4">
            <div class="d-flex justify-content-start col col-xl-6">
              <button type="button" class="btn mainBtn pt-2 me-3" style="border-radius: 25px" (click)="close()" [disabled]="disabled"><h4>Cancel</h4></button>
            </div>
            <div class="d-flex justify-content-end col col-xl-6">
              <button type="submit" class="btn mainBtnOutline pt-2 me-3" style="border-radius: 25px" [disabled]="disabled"><h4>Submit</h4></button>
            </div>
          </div>
        </form>

        <form (ngSubmit)="submitObligationsGroup('exam')" *ngIf="type === 'examsGroup'" class="pb-1 ps-3" autocomplete="off">
          <div *ngIf="formError" class="form-group">
            <div class="alert alert-danger p-2 mt-4" role="alert">
              <i class="fas fa-exclamation-triangle pe-2"></i>{{ formError }}
            </div>
          </div>
          <div class="input-group mb-4 row">
            <div class="col col-sm-12 col-xl-12">
              <label for="title2" class="form-label"><b>Exams group title</b></label>
              <input type="text" class="form-control" id="title2" name="title" aria-describedby="title" placeholder="Title" [(ngModel)]="obligationsGroup">
            </div>
          </div>
          <div class="row pt-3 pb-4">
            <div class="d-flex justify-content-start col col-xl-6">
              <button type="button" class="btn mainBtn pt-2 me-3" style="border-radius: 25px" (click)="close()" [disabled]="disabled"><h4>Cancel</h4></button>
            </div>
            <div class="d-flex justify-content-end col col-xl-6">
              <button type="submit" class="btn mainBtnOutline pt-2 me-3" style="border-radius: 25px" [disabled]="disabled"><h4>Submit</h4></button>
            </div>
          </div>
        </form>

        <form (ngSubmit)="submitObligation()" *ngIf="type === 'obligation' || type === 'exam'" class="pb-1 ps-3" autocomplete="off">
          <div *ngIf="formError" class="form-group">
            <div class="alert alert-danger p-2 mt-4" role="alert">
              <i class="fas fa-exclamation-triangle pe-2"></i>{{ formError }}
            </div>
          </div>
          <div class="input-group mb-4 row">
            <div class="col col-sm-12 col-xl-12">
              <label for="title3" class="form-label"><b>{{type === 'exam' ? "Exam's" : "Obligation's"}} title</b></label>
              <input type="text" class="form-control" id="title3" name="title" aria-describedby="title" placeholder="Title" [(ngModel)]="obligation">
            </div>
          </div>
          <div class="row pt-3 pb-4">
            <div class="d-flex justify-content-start col col-xl-6">
              <button type="button" class="btn mainBtn pt-2 me-3" style="border-radius: 25px" (click)="close()" [disabled]="disabled"><h4>Cancel</h4></button>
            </div>
            <div class="d-flex justify-content-end col col-xl-6">
              <button type="submit" class="btn mainBtnOutline pt-2 me-3" style="border-radius: 25px" [disabled]="disabled"><h4>Submit</h4></button>
            </div>
          </div>
        </form>

        <form (ngSubmit)="submitPresentation()" *ngIf="type === 'presentation'" class="pb-1 ps-3" autocomplete="off">
          <div *ngIf="formError" class="form-group">
            <div class="alert alert-danger p-2 mt-4" role="alert">
              <i class="fas fa-exclamation-triangle pe-2"></i>{{ formError }}
            </div>
          </div>
          <div class="input-group mb-4 row">
            <div class="col col-sm-12 col-xl-12">
              <label for="types" class="form-label"><b>Type</b></label>
              <select class="form-select" id="types" name="types" aria-label="Default select example" [(ngModel)]="presentationCredential.type">
                <option selected disabled value="0">--Select type--</option>
                <option value="1">Exam</option>
                <option value="2">Course end</option>
                <option value="3">Year end</option>
                <option value="4">Program end</option>
              </select>
            </div>
          </div>
          <div *ngIf="presentationCredential.type === '1'" class="input-group mb-4 row">
            <div class="col col-sm-12 col-xl-12">
              <label for="obligations" class="form-label"><b>Exam title</b></label>
              <select class="form-select" id="obligations" name="obligations" aria-label="Default select example" [(ngModel)]="presentationCredential.exam">
                <option selected disabled value="0">--Select exam--</option>
                <option value="1">Exam1</option>
                <option value="2">Exam2</option>
                <option value="3">Test1</option>
                <option value="4">Test2</option>
              </select>
            </div>
          </div>
          <div class="input-group mb-4 row">
            <div class="col col-sm-12 col-xl-12">
              <label for="issuingCredentials" class="form-label"><b>Presentation</b></label>
              <ul id="issuingCredentials" class="scrollListSmall list-group list-group-flush pe-0" style="max-height: 100px !important;">
                <li class="list-group-item pe-0" style="border-bottom: 1px solid lightgray !important;" *ngFor="let credential of presentationCredential.credentials; index as i">
                  <div class="row me-3 pb-1">
                    <div class="col col-xl-10 pt-2">
                      <h6 class="m-0">{{credential.title}}</h6>
                    </div>
                    <div class="col col-xl-2 d-flex justify-content-end">
                      <button class="btn btn-sm btn-danger" (click)="removeCredential(credential, i)">Remove</button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="input-group mb-4 row">
            <div class="col col-sm-12 col-xl-12">
              <label for="credentials" class="form-label mb-0 mt-3"><b>Credentials list</b></label>
              <ul id="credentials" class="scrollListSmall list-group list-group-flush pe-0" style="max-height: 100px !important;">
                <li class="list-group-item pe-0" style="border-bottom: 1px solid lightgray !important;" *ngFor="let credential of credentials; index as i">
                  <div class="row me-3 pb-1">
                    <div class="col col-xl-8 pt-2">
                      <h6 class="m-0">{{credential.title}}</h6>
                    </div>
                    <div class="col col-xl-4 d-flex justify-content-end">
                        <input type="button" class="btn btn-sm btn-danger" (click)="addCredential(credential, i)" value="Add" />
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="row pt-3 pb-4">
            <div class="d-flex justify-content-start col col-xl-6">
              <button type="button" class="btn mainBtn pt-2 me-3" style="border-radius: 25px" (click)="close()" [disabled]="disabled"><h4>Cancel</h4></button>
            </div>
            <div class="d-flex justify-content-end col col-xl-6">
              <button type="submit" class="btn mainBtnOutline pt-2 me-3" style="border-radius: 25px" [disabled]="disabled"><h4>Submit</h4></button>
            </div>
          </div>
        </form>

        <form (ngSubmit)="submitCredential()" *ngIf="type === 'obligationCredential'" class="pb-1 ps-3" autocomplete="off">
          <div *ngIf="formError" class="form-group">
            <div class="alert alert-danger p-2 mt-4" role="alert">
              <i class="fas fa-exclamation-triangle pe-2"></i>{{ formError }}
            </div>
          </div>
          <div class="input-group mb-4 row">
            <div class="col col-sm-12 col-xl-12">
              <label for="title4" class="form-label"><b>{{type === 'obligationCredential' ? "Obligation's" : "Exam's"}} title</b></label>
              <input type="text" class="form-control" id="title4" name="title" aria-describedby="title" placeholder="Title" [value]="this.currObligation!!.title" disabled>
            </div>
          </div>
          <div class="input-group mb-4 row">
            <div class="col col-sm-6 col-xl-6">
              <label for="minVal" class="form-label"><b>Min value to pass</b></label>
              <input type="number" class="form-control" id="minVal" name="minVal" aria-describedby="minVal" min="0" [disabled]="obligationCredential.holders.length!==0" [(ngModel)]="obligationCredential.minVal">
            </div>
            <div class="col col-sm-6 col-xl-6">
              <label for="maxVal" class="form-label"><b>Max value</b></label>
              <input type="number" class="form-control" id="maxVal" name="maxVal" aria-describedby="maxVal" min="0" [disabled]="obligationCredential.holders.length!==0" [(ngModel)]="obligationCredential.maxVal">
            </div>
          </div>

          <div class="input-group mb-4 row">
            <div class="col col-sm-12 col-xl-12">
              <label for="passed" class="form-label"><b>Issuing Students</b></label>
              <ul id="passed" class="scrollListSmall list-group list-group-flush pe-0" style="max-height: 100px !important;">
                <li class="list-group-item pe-0" style="border-bottom: 1px solid lightgray !important;" *ngFor="let holder of obligationCredential.holders; index as i">
                  <div class="row me-3 pb-1">
                    <div class="col col-xl-10 pt-2">
                      <h6 class="m-0">{{holder.user.name}} ({{holder.user.id_user}}) - {{ holder.value | percentage: this.obligationCredential.maxVal}}</h6>
                    </div>
                    <div class="col col-xl-2 d-flex justify-content-end">
                      <button class="btn btn-sm btn-danger" (click)="remove(holder, i)">Remove</button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="input-group mb-4 row">
            <div class="col col-sm-12 col-xl-12">
              <label for="addProgram" class="form-label mb-0 mt-3"><b>Students List</b></label>
              <ul id="addProgram" class="scrollListSmall list-group list-group-flush pe-0" style="max-height: 100px !important;">
                <li class="list-group-item pe-0" style="border-bottom: 1px solid lightgray !important;" *ngFor="let holder of course?.students; index as i">
                  <div class="row me-3 pb-1">
                    <div class="col col-xl-8 pt-2">
                      <h6 class="m-0">{{holder.name}} ({{holder.id_user}})</h6>
                    </div>
                    <div class="col col-xl-4">
                      <div class="input-group input-group-sm">
                        <input type="number" id="val{{i}}" name="val" min="0" max="{{obligationCredential.maxVal}}" class="form-control" (input)="changeVal($event, i)">
                        <div class="input-group-append">
                          <input type="button" class="btn btn-sm btn-danger" (click)="add(holder, i)" value="Add" />
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="row pt-3 pb-4">
            <div class="d-flex justify-content-start col col-xl-6">
              <button type="button" class="btn mainBtn pt-2 me-3" style="border-radius: 25px" (click)="close()" [disabled]="disabled"><h4>Cancel</h4></button>
            </div>
            <div class="d-flex justify-content-end col col-xl-6">
              <button type="submit" class="btn mainBtnOutline pt-2 me-3" style="border-radius: 25px" [disabled]="disabled"><h4>Submit</h4></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
