<!-- Universities list start -->
<div class="container-fluid pt-2 mt-5 ps-0 pe-0">
  <div class="form-outline pt-5 p-2 ps-3 pe-3 bg-light">
    <form action="#" class="m-0 p-0">
      <div class="row input-group m-0 p-0">
        <input type="search" id="searchInput" class="form-control rounded" placeholder='Search by name...'>
      </div>
      <div class="row row-xl-12 input-group pt-2 justify-content-center m-0 p-0">
        <div class="col col-xl-4 form-check">
          <input class="form-check-input" type="radio" name="universitySearch" id="searchByName" checked>
          <label class="form-check-label" for="searchByName">
            Search by name
          </label>
        </div>
        <div class="col col-xl-4 form-check d-flex justify-content-center">
          <input class="form-check-input" type="radio" name="universitySearch" id="searchByCountry">
          <label class="form-check-label ps-2" for="searchByCountry">
            Search by country
          </label>
        </div>
        <div class="col col-xl-4 form-check d-flex justify-content-end">
          <input class="form-check-input" type="radio" name="universitySearch" id="searchByCity">
          <label class="form-check-label ps-2" for="searchByCity">
            Search by city
          </label>
        </div>
      </div>
    </form>
  </div>
  <div class="row ps-3 pe-2">
    <ul class="scrollListBig list-group list-group-flush pe-0">
      <li class="list-group-item pe-0" *ngFor="let university of universities">
        <div class="row me-3 pt-2 pb-2">
          <div class="col col-xl-8 pt-2">
            <h6 class="m-0">{{university.title}}{{university.abbreviation ? ', ' + university.abbreviation : ''}} <span class="containerText1">({{university.country}}, {{university.city}}) </span>- {{university.faculties.length != 1 ? university.faculties.length + ' faculties' : '1 faculty'}}</h6>
          </div>
          <div class="col col-xl-2 ms-auto d-flex justify-content-end">
            <a href="#">
              <button  class="btn btn-sm btn-danger me-3">
                Delete University
              </button>
            </a>
          </div>
          <div class="col col-xl-2 ms-auto d-flex justify-content-end">
            <a *ngIf="university.controller !== null" routerLink="/didedu/universities/{{university._id}}">
                <button class="btn btn-sm btn-outline-danger">
                  View University
                </button>
            </a>
            <a *ngIf="university.controller === null" routerLink="/didedu/universities/{{university._id}}/addController">
                <button  class="btn btn-sm btn-outline-danger">
                  Add Controller
                </button>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>
<!-- Universities list end -->
