<div class="wrapper">
  <div class="overlay" *ngIf="showSpinner">
    <div class="spinner-wrapper">
      <app-spinner></app-spinner>
    </div>
  </div>

  <div class="loaded-content" [class.blurred]="showSpinner">
    <ng-content></ng-content>
  </div>
</div>

<app-issue-credential [credentials]="currCredentials" [passphrase]="currPassphrase" [mnemonic]="currMnemonic" [username]="currUsername" [currObligation]="currObligation" [currGroup]="currGroup" [user]="currUser" [course]="currCourse" [type]="type" [display]="display" (credentialsEvent)="issueCredentialEvent()" (closeEvent)="onCloseHandled()"></app-issue-credential>

<app-wallet-login [display]="displayLogin" (credentialsEvent)="checkCourseCredential($event)" (closeEvent)="onCloseHandled()"></app-wallet-login>

<div *ngIf="currCourse && !showSpinner && dids.length === 0" class="container-fluid pt-5 mt-5 pb-3">
  <div class="row d-flex justify-content-center pt-5 mt-5 pb-5 mt-5">
    <h1 class="pt-5 mt-5 text-center display-6">You need to <span class="containerText1">register a DID</span> for the course "{{currCourse.title}}" to be able to access it!</h1>
  </div>
  <div class="row mb-5 pb-5 mt-5 d-flex justify-content-center ">
    <button class="btn btn-lg mainBtnOutline w-25 mb-5" (click)="openForm('enroll')"><h2 class="display-6">Register DID</h2></button>
  </div>
</div>

<!-- Course content start -->
<div *ngIf="currCourse && !showSpinner && dids.length > 0" class="container-fluid pt-5 mt-5 pb-3">
  <div *ngIf="formError" class="form-group">
    <div class="alert alert-danger p-2 mt-4" role="alert">
      <i class="fas fa-exclamation-triangle pe-2"></i>{{ formError }}
    </div>
  </div>
  <div class="row g-5 pt-3 ms-1 pe-xl-1 me-1">
    <!-- Course preview start -->
    <div class="col col-12 col-xl-9 bg-light">
      <div class="row pt-3">
        <div class="col col-12 col-xl-12">
          <h1><i class="fa fa-sun containerText1"></i> {{currCourse.title}}</h1>
          <h3><span class="text-secondary">{{currCourse.start_date | date: 'dd. MMMM, y (EEEE)'}} - {{currCourse.end_date | date: 'dd. MMMM, y (EEEE)'}}</span></h3>
        </div>
      </div>
      <div class="row pt-5 pe-3">
        <div class="col col-xl-12">
          <div class="row">
            <div class="col col-xl-12 titleSideBar">
              <p class="d-flex justify-content-start containerText1 display-5">About</p>
              <div class="d-flex justify-content-end"></div>
            </div>
            <div class="col col-12 col-xl-12 pt-3">
              <p>{{currCourse.about}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col col-sm-8 col-md-9 col-lg-10 col-xl-10 pt-3">
              <h5>Professors: </h5>
              <ul>
                <li><a href="#" class="text-dark">Lorem Ipsum</a></li>
                <li><a href="#" class="text-dark">Lorem Ipsum</a></li>
              </ul>
            </div>
            <div class="col col-sm-4 col-md-3 col-lg-2 col-xl-2 pt-3">
              <h5>Assistants: </h5>
              <ul>
                <li><a href="#" class="text-dark">Lorem Ipsum</a></li>
                <li><a href="#" class="text-dark">Lorem Ipsum</a></li>
                <li><a href="#" class="text-dark">Lorem Ipsum</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div *ngIf="currUser!!.role === 'professor'" class="row pt-3">
          <div class="col col-xl-12 mb-0 mt-0 pb-0 pt-0 d-flex justify-content-center">
            <button class="btn btn-lg mainBtn ps-4 pe-4"><h4>Edit About</h4></button>
          </div>
        </div>
      </div>
      <div class="row pt-5 mb-5">
        <div class="col col-xl-12">
          <div class="row">
            <div class="col col-12 col-xl-12 titleSideBar">
              <p class="containerText1 display-6">Obligations</p>
            </div>
          </div>
          <div *ngFor="let obligationsGroup of obligationsGroups" class="row pt-2">
            <details *ngIf="obligationsGroup.type === 'obligation'" class="col col-12 col-xl-12 pt-3">
              <summary class="titleSideBar h4">{{obligationsGroup.title}} ({{obligationsGroup.obligations.length}})
                <button *ngIf="currUser!!.role === 'professor'" class="btn btn-sm btn-outline-danger me-3" (click)="openForm('obligation', obligationsGroup)">Add obligation</button>
                <button *ngIf="currUser!!.role === 'professor'" class="btn btn-sm btn-danger">Delete group</button>
              </summary>
              <div *ngFor="let obligation of obligationsGroup.obligations" class="col col-12 col-xl-12 pt-3 ms-3 h5">
                <h3><span *ngIf="obligation.status === 'Issued'"><i class="fa fa-check-circle containerText1"></i></span> {{obligation.title}}
                  <button *ngIf="currUser!!.role === 'professor'" class="btn btn-sm mainBtn me-3" (click)="openLogin('obligationCredential', obligation, obligationsGroup)">Issue</button>
                </h3>
                <span class="text-secondary ">Created: {{obligation.created | date: 'dd. MMMM, y (EEEE) - HH:mm'}}</span>
              </div>
            </details>
          </div>
          <div *ngIf="currUser!!.role === 'professor'" class="row pt-3">
            <div class="col col-xl-12 mb-0 mt-0 pb-0 pt-0 d-flex justify-content-center">
              <button class="btn btn-lg mainBtn ps-4 pe-4" (click)="openForm('obligationsGroup')"><h4>Add Obligations Group</h4></button>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-3 mb-4">
        <div class="col col-xl-12">
          <div class="row">
            <div class="col col-12 col-xl-12 titleSideBar">
              <p class="containerText1 display-6">Exams</p>
            </div>
          </div>
          <div *ngFor="let obligationsGroup of obligationsGroups" class="row pt-2">
            <details *ngIf="obligationsGroup.type === 'exam'" class="col col-12 col-xl-12 pt-3">
              <summary class="titleSideBar h4">{{obligationsGroup.title}} ({{obligationsGroup.obligations.length}})
                <button *ngIf="currUser!!.role === 'professor'" class="btn btn-sm btn-outline-danger me-3" (click)="openForm('exam', obligationsGroup)">Add exam</button>
                <button *ngIf="currUser!!.role === 'professor'" class="btn btn-sm btn-danger">Delete group</button>
              </summary>
              <div *ngFor="let obligation of obligationsGroup.obligations" class="col col-12 col-xl-12 pt-3 ms-3 h5">
                <h3>{{obligation.title}}
                  <button *ngIf="obligation.status === 'Not Issued' && currUser!!.role === 'professor'" class="btn btn-sm mainBtn me-3" (click)="openLogin('obligationCredential', obligation, obligationsGroup)">Issue</button>
                  <span *ngIf="obligation.status === 'Issued' && currUser!!.role === 'professor'"><i class="fa fa-check-circle containerText1"></i></span>
                </h3>
                <span class="text-secondary ">Created: {{obligation.created | date: 'dd. MMMM, y (EEEE) - HH:mm'}}</span>
              </div>
            </details>
          </div>
          <div *ngIf="currUser!!.role === 'professor'" class="row pt-3">
            <div class="col col-xl-12 mb-0 mt-0 pb-0 pt-0 d-flex justify-content-center">
              <button class="btn btn-lg mainBtn ps-4 pe-4" (click)="openForm('examsGroup')"><h4>Add Exams Group</h4></button>
            </div>
          </div>
          <div *ngIf="currUser!!.role === 'student'" class="row pt-5">
            <div class="col col-xl-12 d-flex justify-content-end">
              <button routerlink="" class="btn mainBtnOutline p-3" (click)="openLogin('presentation', null, null)">Create presentation</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Course preview end -->
    <div class="col col-12 col-xl-3 pe-0 ps-0 ps-xl-4">
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>
<!-- Course content end -->
